#mainHeader{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 98%;
    margin: 8px auto;
}

#mainHeader img{
 width: 150px;

}

