body{
    margin: 0;
}

#mainHeader{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    border-radius: 8px;
    align-items: center;
}

#container{
    max-width: 95%;
    margin: 5px auto;
}

#itemByCategory{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-content: center;
}

.product{
    min-width: 30%;
    max-width: 35%;
    margin: 15px;
    border: 1px rgb(219, 219, 219) solid;
    border-radius: 8px;
    text-align: center;
  padding: 35px;

}

.product:hover{
    color: red;
}

.product img{
    width: 100%;
    border-radius: 8px;
}
#search{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}



