body {
  margin: 0;
}

#mainHeader {
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  border-radius: 8px;
  flex-wrap: wrap;
  padding: 15px;
}

#mainHeader div img {
  width: 60%;
  display: block;
  margin: auto;
}

#container {
  width: 75%;
  margin: 5px auto;
  background-color: rgb(238, 238, 238);
}

#itemByCategory {
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
}

.product {
  width: 60%;
  margin: 15px;
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  margin-bottom: 35px;
}

.product:hover {
  color: red;
}

.product img {
  width: 100%;
  border-radius: 8px;
}
#search {
  font-size: 20px;
  border-radius: 9px;
  border: none;
  outline: none;
}

@media screen and (min-width: 850px) {
  #mainHeader {
    align-items: center;
  }

  #container {
    width: 75%;
    background-color: rgb(247, 253, 255);
  }

  .product {
    width: 15%;
    border: 1px solid rgb(245, 245, 245);
    background-color: rgb(247, 253, 255);
    border-radius: 11px;
    text-align: center;
    padding: 5px;
    margin: 15px;
  }

  .item img {
    width: 100%;
    border-radius: 8px;
  }
}
