
#container{
    width: 70%;
    margin: auto;
}

* {
  box-sizing: border-box;
}

#mainHeader {
  text-align: center;
  background-color: lightblue;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  margin: 10px auto;
}

#mainHeader img{
 width: 150px;

}

h1{
    margin: 75px 0px 75px 0px;
}

/*@media screen and (min-width: 1000px) {
    #container{
        width: 20%;
    }
}*/

@media screen and (min-width: 1000px) {
    #container{
    width: 18%;
    margin: auto;
}
}